<html xmlns='http://www.w3.org/1999/xhtml'
      xmlns:h='http://java.sun.com/jsf/html'
      xmlns:f='http://java.sun.com/jsf/core'
      xmlns:p='http://primefaces.prime.com.tr/ui'>

<h:head><title>Welcome to JSF_PrimeFaces_Hibernate Project</title></h:head>
<body>
<f:view>
    <h:form>
        <h:outputText value='Transaction Error has occurred!'></h:outputText>
    </h:form>
</f:view>
</body>
</html>