<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:f="http://java.sun.com/jsf/core"

      xmlns:h="http://java.sun.com/jsf/html">
<head>
    <title>Simple CRUD de Estudiantes</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          media="screen"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">Listado de estudiantes</h1>
    <h:form rendered="#{not empty studentCrudBean.list}">
        <h:dataTable value="#{studentCrudBean.list}" var="item" styleClass="table table-hover table-condensed">
            <h:column><f:facet name="header">ID</f:facet>#{item.id}</h:column>
            <h:column><f:facet name="header">Nombre</f:facet>#{item.name}</h:column>
            <h:column><f:facet name="header">Nota</f:facet>#{item.nota}</h:column>
            <h:column><f:facet name="header">Aprobación</f:facet>#{item.aprobado}</h:column>
            <h:column width="20">
                <div class="btn-group btn-group-sm">
                    <h:commandButton value="Editar" action="#{studentCrudBean.edit(item)}" styleClass="btn btn-warning"/>
                    <h:commandButton value="Eliminar" action="#{studentCrudBean.delete(item)}"
                                     styleClass="btn btn-danger"/>
                </div>
            </h:column>
        </h:dataTable>
    </h:form>

    <h:panelGroup rendered="#{empty studentCrudBean.list}">
        <p>No hay estudiantes! Por favor agregue estudiantes.</p>
    </h:panelGroup>

    <h:panelGroup rendered="#{!studentCrudBean.edit}">
        <h3>Agregar estudiante</h3>
        <h:form>
            <div class="form-group">
                <label>Nombre</label>
                <h:inputText value="#{studentCrudBean.item.name}" styleClass="form-control"/>
            </div>
            <div class="form-group">
                <label>Nota</label>
                <h:inputText value="#{studentCrudBean.item.nota}" styleClass="form-control"/>
            </div>
            <div class="text-center">
                <div class="btn-group">
                    <h:commandButton value="Agregar" action="#{studentCrudBean.add}" styleClass="btn btn-success"/>
                    <h:commandButton value="Limpiar" action="#{studentCrudBean.resetAdd}" styleClass="btn btn-primary"/>
                </div>
            </div>
        </h:form>
    </h:panelGroup>

    <h:panelGroup rendered="#{studentCrudBean.edit}">
        <h3>Editando estudiante #{studentCrudBean.item.name}</h3>
        <h:form>
            <div class="form-group">
                <label>Nombre</label>
                <h:inputText value="#{studentCrudBean.item.name}" styleClass="form-control"/>
            </div>
            <div class="form-group">
                <label>Nota</label>
                <h:inputText value="#{studentCrudBean.item.nota}" styleClass="form-control"/>
            </div>
            <div class="text-center">
                <div class="btn-group">
                    <h:commandButton value="Guardar" action="#{studentCrudBean.saveEdit}" styleClass="btn btn-success"/>
                    <h:commandButton value="Cancelar" action="#{studentCrudBean.cancelEdit}" styleClass="btn btn-danger"/>
                </div>
            </div>
        </h:form>
    </h:panelGroup>
</div>
</body>
</html>