<html xmlns='http://www.w3.org/1999/xhtml'
      xmlns:h='http://java.sun.com/jsf/html'
      xmlns:f='http://java.sun.com/jsf/core'
      xmlns:p='http://primefaces.prime.com.tr/ui'>

<h:head>
    <title>Welcome to JSF_PrimeFaces_Hibernate Project</title>
</h:head>
<body>
<h:form>
    <h3>Usuarios</h3>
    <h:outputText value='El usuario guardado es #{userMBean.message}'></h:outputText>
    <p:dataTable id='users' value='#{userMBean.getUsers()}' var='user' style='width: 10%'>
        <p:column>
            <f:facet name='header'>
                <h:outputText value='ID' />
            </f:facet>
            <h:outputText value='#{user.id}' />
        </p:column>
        <p:column>
            <f:facet name='header'>
                <h:outputText value='Nombre' />
            </f:facet>
            <h:outputText value='#{user.name}' />
        </p:column>
        <p:column>
            <f:facet name='header'>
                <h:outputText value='Apellido' />
            </f:facet>
            <h:outputText value='#{user.surname}' />
        </p:column>
    </p:dataTable>
    <h:commandButton action="index" value="Agregar nuevo usuario"/>
</h:form>
</body>
</html>